@import './color.scss';

.carousel {
  height: 100%;
}

.carousel-caption {
  background-color: $background-color;
  left: 0;
  color: white;
  width: 100%;
  z-index: 10;
  margin-bottom: 10px;
  font-size: 2rem;
}

.slide {
  padding: 50px;
}
.carousel .item {
  background-color: black;
  height: 100%;
}

.carousel-inner {
  height: 100%;
  > .item {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100% !important;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media (min-width: 768px) {
  .carousel-caption {
    font-size: 5rem;
  }
}
